body{
    color:rgb(255, 255, 255);
    background:rgb(189 14 199);
    margin:0px;
    font-family: "Oswald", sans-serif;
    margin-bottom: 100px;
}

header {
border-bottom: solid 2px rgb(255, 255, 255);
padding: 20px;
font-size: 32px;
color:rgb(249, 246, 249) ;
}

.chamada {
    background: rgb(218 12 164);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center ;
}

.chamada-texto {
    margin-right: 5%;
}
h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}


.categoria-videos{
      display: flex;
      overflow-x:auto;
      gap:10px;

}

.categoria {
    padding-left:20px;
    padding-right:20px; 
    margin-top: 50px ;
}
.categoria1 {
    padding-left:20px;
    padding-right:20px; 
    margin-top: 50px ;
}

.categoria-videos img{
 opacity: 0.5;
 height: 200px;
}
.categoria-videos img:hover {
opacity: 1.0;
border: 1px solid rgb(212, 0, 255);

}

.categoria h2 {
    color: rgb(249, 246, 249) ;
}

