body{
    color:rgb(255, 255, 255);
    background:rgb(189 14 199);
    margin:0px;
    font-family: "Oswald", sans-serif;
}

header {
border-bottom: solid 2px rgb(255, 255, 255);
padding: 20px;
font-size: 32px;
color:rgb(249, 246, 249) ;
}

section {
    background: rgb(218 12 164);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center ;
}

.chamada-texto {
    margin-right: 5%;
}